@charset "UTF-8";

        #zz {
            margin-top: 150px;
        }



        #photo1 {
            width: 70px;
            height: 60px;
            border-radius: 200px;
            margin: 0 auto;
            overflow: hidden;
            margin-top: 10px;
            margin-right: 10px;

        }
        
        .card{
            margin-bottom: 100px;
/*             background-image: url(/사진/색깔.webp); */
        }
        
        body{
/*             background-image: url(/사진/색깔.webp); */
        }