@charset "UTF-8";

        #zz {
            margin-top: 150px;
        }

        .top-button {
            display: none;
            position: fixed;
            right: 50%;
            bottom: 100px;
            margin-right: -720px;
            text-align: center;
            height: 120px !important;
            width: 120px !important;
        }

        .card {
            width: 300px;
            height: 300px;
            margin-right: 30px;
            margin-bottom: 30px;
            border: 7px solid;
            border-color: lightgray;
            text-align: left !important;


        }

        .card-img {
            height: 287px;
        }

        .btn {
            cursor: pointer;
        }
