@charset "UTF-8";

        #zz {
            margin-top: 150px;
        }

        .card {
            width: 300px;
            height: 300px;
            margin-right: 30px;
            margin-bottom: 30px;
            border: 7px solid;
            border-color: lightgray;
            text-align: left !important;


        }

        .card-img {
            height: 287px;
        }

        .btn {
            cursor: pointer;
        }
